* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/*
네비게이션 바의 height 는 60px 입니다.
네비게이션 바의 메뉴들은 클릭하면 페이지 최상단으로 이동합니다. # 를 활용해주세요.
hero_header.jpg 는 배경이미지로 들어가고, 배경이미지가 들어가는 영역은 450px 의 height를 가집니다.
각 상품들을 클릭하면 페이지 최상단으로로 이동합니다.
이미지의 테두리는 클릭 영역 표시를 위한 것이고, 직접 구현하지는 않아도 됩니다.
페이스북, 인스타그램, 트위터 아이콘의 height는 20px로 지정해 주세요.

navbar 사이즈 크기 맞춰서 줄어들게 변경

*/

/* navbar */
.navbar {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar #logo {
  line-height: 60px;
}

.navbar #logo img {
  vertical-align: middle;
}

.navbar #menu {
  float: right;
  margin-right: 30px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar #menu li {
  float: left;
  line-height: 60px;
  margin-left: 30px;
}

.navbar #menu li a {
  color: #545454;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}

.hero-header {
  height: 450px;
  background-image: url("../images/hero_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* products */
.product {
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}

.product-list {
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  margin-top: 20px;
  margin-bottom: 4px;
}
.products h3 {
  font-size: 24px;
  color: #545454;
  text-align: center;
  margin: 60px 0px;
}

.clear-fix {
  clear: both;
}
/* footer */
.footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.footer a {
  margin: 0 10px;
  text-decoration: none;
}
