#serif {
  font-family: "Times New Roman", "Times", serif;
  font-size: 100px;
}

#sans-serif {
  font-family: "arial", sans-serif;
  font-size: 100px;
}

#monospace {
  font-family: "courier", "courier New", monospace;
  font-size: 100px;
}

#cursive {
  font-family: "Comic Sans MS", "monotype Corsiva", cursive;
  font-size: 100px;
}

#fantasy {
  font-family: "impact", "Haettenschweiler", Fantasy;
  font-size: 100px;
}

#google {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100px;
}
